################################################################################
### User E-mail for Authentication
################################################################################

EMAIL_ADDRESS=

################################################################################
### ELM327 OBD2 Connection
################################################################################

SERIAL_PORT=COM7
BAUD_RATE=500000
TIMEOUT=1

################################################################################
### platform.openai.com
################################################################################

OPENAI_API_KEY=
OPENAI_ORG_ID=
OPENAI_PROJECT_ID=
# Main LLM
OPENAI_MODEL_0=gpt-4o-mini-realtime-preview-2024-12-17

# Agents and Tools LLMs
OPENAI_MODEL_1=gpt-4o-realtime-2024-12-17
OPENAI_MODEL_2=gpt-4.5-preview-2025-02-27
OPENAI_MODEL_3=o1-2024-12-17
OPENAI_MODEL_4=o1-mini-2024-09-12
OPENAI_MODEL_5=o1-pro-2025-03-19
OPENAI_MODEL_6=o3-mini-2025-01-31
OPENAI_MODEL_7=gpt-4.1-2025-04-14
OPENAI_MODEL_8=gpt-4.1-mini-2025-04-14
OPENAI_MODEL_9=gpt-4.1-nano-2025-04-14

################################################################################
### Azure Auth and OpenAI
################################################################################

AUTH_TENANT_ID=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
OPENAI_API_VERSION=2025-03-01-preview

# Main LLM
AZURE_OPENAI_DEPLOYMENT_0=gpt-4o-mini-realtime

# Agents and Tools LLMs
AZURE_OPENAI_DEPLOYMENT_1=gpt-4o-realtime
AZURE_OPENAI_DEPLOYMENT_2=gpt-4.5
AZURE_OPENAI_DEPLOYMENT_3=o1
AZURE_OPENAI_DEPLOYMENT_4=o1-mini
AZURE_OPENAI_DEPLOYMENT_5=o3-mini
AZURE_OPENAI_DEPLOYMENT_6=
AZURE_OPENAI_DEPLOYMENT_7=
AZURE_OPENAI_DEPLOYMENT_8=
AZURE_OPENAI_DEPLOYMENT_9=

################################################################################
### Bing Search
################################################################################

BING_API_KEY=

################################################################################
### Google Custom Search
################################################################################

GOOGLE_API_KEY=
GOOGLE_CSE_ID=

################################################################################
### Twilio
################################################################################

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_PHONE_NUMBER=
TEXT_TO_PHONE_NUMBER=