openai==1.1.1
pyserial==3.5
gtts==2.4.0
pygame==2.5.2
obd==0.7.2
matplotlib==3.8.1
tk==0.1.0
spacy==3.7.2
msal==1.25.0
requests==2.31.0
datetime==5.2
dateparser==1.1.8
flask==3.0.0
halo==0.0.31
pandas==2.1.2
pytz==2323.10.3
python-dateutil==2.8.2
python-dotenv==1.0.0
twilio==8.10.1
speechrecognition==3.10.0
google-api-python-client==2.106.0
google-auth-httplib2==0.1.1
google_auth_oauthlib==1.1.0
beautifulsoup4==4.12.2
PyAudio==0.2.13