openai
pyserial
gtts
pygame
obd
matplotlib
tk
spacy
msal
requests
datetime
dateparser
flask
halo
pandas
pytz
python-dateutil
python-dotenv
twilio
speechrecognition
google-api-python-client
google-auth-httplib2
google_auth_oauthlib
beautifulsoup4