beautifulsoup4==4.12.2
dateparser==1.1.8
flask==3.0.0
google-api-python-client==2.106.0
google-auth-httplib2==0.1.1
google_auth_oauthlib==1.1.0
gTTS==2.4.0
halo==0.0.31
matplotlib==3.8.1
msal==1.25.0
obd==0.7.2
openai==1.2.3
pandas==2.1.2
pygame==2.5.2
pyserial==3.5
PyAudio==0.2.13
python-dotenv==1.0.0
pytz==2023.3.*
requests==2.31.0
spacy==3.7.2
SpeechRecognition==3.10.0
twilio==8.10.1