azure-cognitiveservices-speech>=1.43.0
azure-identity>=1.21.0
beautifulsoup4>=4.13.3
dateparser>=1.2.1
flask>=3.1.0
google-api-python-client>=2.166.0
matplotlib>=3.10.1
msal>=1.32.0
obd>=0.7.2
openai>=1.71.0
pandas>=2.2.3
PyAudio>=0.2.14
pyserial>=3.5
python-dotenv>=1.1.0
pytz>=2025.2
requests>=2.32.3
rich>=14.0.0
spacy>=3.8.5
SpeechRecognition>=3.14.2
twilio>=9.5.1