azure-cognitiveservices-speech>=1.42.0
azure-identity>=1.19.0
beautifulsoup4>=4.12.3
dateparser>=1.2.0
flask>=3.1.0
google-api-python-client>=2.159.0
matplotlib>=3.10.0
msal>=1.31.1
obd>=0.7.2
openai>=1.59.7
pandas>=2.2.3
PyAudio>=0.2.14
pyserial>=3.5
python-dotenv>=1.0.1
pytz>=2024.2
requests>=2.32.3
rich>=13.9.4
spacy>=3.8.4
SpeechRecognition>=3.14.0
twilio>=9.4.3