azure-cognitiveservices-speech>=1.41.1
azure-identity>=1.19.0
beautifulsoup4>=4.12.3
dateparser>=1.2.0
flask>=3.0.3
google-api-python-client>=2.149.0
matplotlib>=3.9.2
msal>=1.31.0
obd>=0.7.2
openai>=1.52.0
pandas>=2.2.2
PyAudio>=0.2.14
pyserial>=3.5
python-dotenv>=1.0.1
pytz>=2024.2
requests>=2.32.3
rich>=13.8.1
spacy>=3.8.2
SpeechRecognition>=3.10.4
twilio>=9.3.2